%h1 Share your logs using the command-line

%h2 Example:

%p
  $ curl --upload-file ./log/development.log
  = root_url + 'rails'
%p
  = link_to root_url + 'log/5y9l_zx9InCfbng', '/log/5y9l_zx9InCfbng', target: :blank