%h1 Share your logs using the command-line

%h2 Example:

%p
  $ curl --upload-file ./log/development.log
  = root_url + 'rails'
%p
  = link_to log_file_url('5y9l_zx9InCfbng'), log_file_url('5y9l_zx9InCfbng'), target: :blank