<!DOCTYPE html>
<html>
<head>
  <title>Sharelogs</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

    <link rel="stylesheet" href="https://highlightjs.org/static/styles/default.css">
    <script src="https://highlightjs.org/static/highlight.pack.js"></script>
    <script src="https://raw.githubusercontent.com/drudru/ansi_up/master/ansi_up.js"></script>

</head>
<body>

<%= yield %>

</body>
</html>
